<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<title><%=title%></title>
<meta content="" name="description" />
<meta content="" name="keywords" />

<!-- Favicons -->
<link href="/assets/img/favicon.png" rel="icon" />
<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet"
/>

<!-- Vendor CSS Files -->
<link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
<link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link
  href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
  rel="stylesheet"
/>
<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
<link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

<!-- Template Main CSS File -->
<link href="/assets/css/style.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
